<a href="https://colab.research.google.com/github/Jayakrishna143/assignments/blob/main/05_Dictionary_execrise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [3]:
# CODE HERE
person1 = {'Name':'John','Gender':'Male','Occupation':'Data Scientist','Location':'Nizampet, Hyderabad'}
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

In [ ]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [ ]:
# CODE HERE

In [4]:
[k for k in  person1.keys()]

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [5]:
# CODE HERE
person1.pop('Location')
person1

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [8]:
# CODE HERE
person2 = {'Name':'Raghu Ram','Gender':'Male','Age':25,'Occupation':'Data Scientist'}
print(person2)

{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [ ]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [9]:
# CODE HERE
print('==================== person1 ====================\n')
print(person1)
print('\n==================== person2 ====================\n')
print(person2)

==================== person1 ====================

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

==================== person2 ====================

{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [10]:
# CODE HERE
dic ={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dic.pop(3)
dic

{1: 1, 2: 4, 4: 16, 5: 25, 6: 36, 7: 49}

In [12]:
dic ={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dic.popitem()
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [13]:
dic ={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
del dic[6]
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [14]:
# CODE HERE
dic = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
sorted(dic.values(),reverse=True)

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [17]:
# CODE HERE

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict_merge = dict1|dict2|dict3
print(dict_merge)
{**dict1,**dict2,**dict3}

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [18]:
# CODE HERE
x={'emp1': {'name': 'Jhony', 'salary': 7500},'emp2': {'name': 'Ravi', 'salary': 8000},'emp3': {'name': 'Charan', 'salary': 6500}}

In [20]:
x['emp3']['salary'] = 8500
x

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [24]:
# CODE HERE
x = { "class": { "student": { "name": "Mike", "marks": { "physics": 70, "history": 80 } } } }
value = x["class"]["student"]["marks"]["history"]
print(value)

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [25]:
# CODE HERE
x = {'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
x['Area'] = x.pop('Location')
x

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [46]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
def user(name:str,password:int):
    for i in database:
        if name in database and database[name] == password:
            print(f'Hello {name}')
            break
    else :
        print('You want me to add into the database yes/no')
        x = input()
        if x.lower() == 'yes':
            database[name] = password
            print(database)
        else:
            print('Thank you')

In [47]:
user('jaya',1234)

You want me to add into the database yes/no
YES
{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'jaya': 1234}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)