<a href="https://colab.research.google.com/github/Jayakrishna143/assignments/blob/main/05_If_else%2C_for_loop_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF , ELSE.... FOR LOOP

> print this is hour in current minute is odd

In [3]:
#CODE HERE
i = int(input('Enter minute of hour: '))
if i % 2 == 0:
    print(f'{i} This is even minute of hour')
else:
    print(f'{i} This is odd minute of hour')

Enter minute of hour: 56
56 This is even minute of hour

> if today is satarday then print 'Party !!!' or if sunday print take rest other wise print work , work, work

In [5]:
#CODE HERE
day = input('Enter today day: ')
if day.lower() == 'saturday':
    print('Party !!!')
elif day.lower() == 'sunday':
    print('take rest')
else:
    print('work, work, work')

Enter today day: sunday
take rest

> Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [6]:
#CODE HERE
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
#CODE HERE

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

> Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

In [9]:
#CODE HERE
n = int(input('enter a value to compute the factorial: '))
factorial =1
for i in range(1,n+1):
    factorial*=i
print(f'{n}! = {factorial}')

enter a value to compute the factorial: 9
9! = 362880

> With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

*Hint* : use dict()

In [11]:
#CODE HERE
n = int(input('enter a number: '))
d={i:i*i for i in range(1,n+1)}
d

enter a number: 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

> create user defined fuction for
- addition "add"
- subtraction "sub"
- multiplication "mul"
- division "div"
- power "pow"

In [9]:
# a = int(input('Please enter the value : '))
# b = int(input('Please enter the value : '))
# keyword_input = input('Enter the keyword {add, sub, mul, div, pow}: ')
# def fun(a,b):
#     keyword = {'add':a+b,'sub':a-b,'mul':a*b,'div':a/b,'pow':a**b}
#     return (keyword[keyword_input])
# fun(a,b)


# method 2
def func(a:int,b:int):
    x =input('Enter the keyword {add, sub, mul, div, pow}: ')
    if x.lower() == 'add':
        print(f'addition of {a} and {b} is :{a+b}')
    elif x.lower() == 'sub':
        print(f'subtraction of {a} and {b} is :{a-b}')
    elif x.lower() == 'mul':
        print(f'multiplication of {a} and {b} is :{a*b}')
    elif x.lower() == 'div':
        print(f'division of {a} and {b} is :{a/b}')
    elif x.lower() == 'pow':
        print(f'power of {a} by {b} is :{a**b}')
func(5,6)

Enter the keyword {add, sub, mul, div, pow}: pow
power of 5 by 6 is :15625

In [ ]:
#CODE HERE

Please enter the value : 8
Please enter the value : 6
Enter the keyword {add, sub, mul, div, pow}:pow
==============================
Power of 8 by 6 is : 262144

### Write a Python program that accepts a string and calculate the number of digits and letters.
- Input

    - Hello321Bye360
- Output

    - Digit - 6

    - Letter - 8

In [10]:
# CODE HERE
word = input("ENter the text: ")
digit = 0
letter = 0
for i in word:
    if i.isdigit():
        digit +=1
    elif i.isalpha():
        letter +=1
print(f'Digit - {digit}')
print(f'Letter - {letter}')

ENter the text: Hello321Bye360
Digit - 6
Letter - 8

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [14]:
# METHOD - 1
t =(1,2,3,4,5,6,7,8,9,10)
for i in t:
    if i<=5:
        print(i,end=' ')
print()
for i in t:
    if i>5:
        print(i,end=' ')

1 2 3 4 5
6 7 8 9 10

In [13]:
# METHOD - 2
t =(1,2,3,4,5,6,7,8,9,10)
t1 = t[:5]
t2 = t[5:]
print(t1,t2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

In [16]:
# METHOD - 3
t =(1,2,3,4,5,6,7,8,9,10)
l1 =[i for i in t if i<=5]
l2 =[i for i in t if i>5]
print(l1)

print(l2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [17]:
l =[i for i in (1,2,3,4,5,6,7,8,9,10) if i%2==0 ]
t =tuple(l)
t

(2, 4, 6, 8, 10)

### Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No"

In [18]:
text = input("Please type something. --> Yes or No ")
if text.lower() == 'yes':
    print('Yes')
else:
    print('No')

Please type something. --> Yes or No yes
Yes

### Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

In [19]:
import random
l = random.sample(range(100,201),5)
l

[127, 156, 161, 188, 148]

### Please generate a random float where the value is between 5 and 95 using Python module.

In [ ]:
import random
l =random.uniform(5,95)
l

50.407397170147895

### [1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
#### 1. from the above list print the uniques values
#### 2. count how many times each number exist
#### 3. Print the number which is occured more number of times

In [20]:
x =[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
print(set(x))

{1, 3, 4, 5, 6, 7, 8}

In [23]:
x =[1,1,1,1,3,3,4,4,4,5,6,7,8,8,8]
for i in set(x):
    print(i,x.count(i))

1 4
3 2
4 3
5 1
6 1
7 1
8 3

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)