<a href="https://colab.research.google.com/github/Jayakrishna143/assignments/blob/main/07_Functions_and_Methods_execrise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions and Methods Homework

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [ ]:
def vol(rad):
    # code here
    volume = 4/3 * 22/7* rad**3
    return volume

In [ ]:
vol(5)

523.8095238095239

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [22]:
def ran_check(num,low,high):
    # code here
    if low <= num <= high:
        return f'{num} is in range'
    else:
        return f'{num} is not in range'

In [23]:
ran_check(3,1,10)

'3 is in range'

If you only wanted to return a boolean:

In [26]:
def ran_bool(num,low,high):
    return low <= num <= high

In [27]:
ran_bool(3,11,10)

False

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output :
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [36]:
def up_low(s):
    u_count = 0
    l_count = 0
    for i in s:
        if i.islower():
            l_count+=1
        elif i.isupper():
            u_count+=1
        else:
            continue
    print(s)
    print(f"No. of Upper case characters : {u_count}")
    print(f"No. of Lower case Characters : {l_count}")

In [37]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case Characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [38]:
def unique_list(l):
    s = set(l)
    return list(s)

In [39]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [42]:
def multiply(numbers):
    num = 1
    for i in numbers:
        num *=i
    return num

In [43]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [52]:
def palindrome(s):
    l = int((len(s)/2)+1)
    for i in range(l):
        if s[i] != s[-i -1]:
            return False
    return True

In [54]:
palindrome('helleh')

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [2]:
# CODE HERE
def summation(n):
    if n == 0:
        return 0
    return n + summation(n-1)

n = int(input())
sum = summation(n)
print(sum)

5
15

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [4]:
def printList():
    l =[i**2 for i in range(1,21) ]
    print(l)
#Code here
printList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [5]:
def printDict():
    d= {k:k**2 for k in range(1,21)}
    print(d)
printDict()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [10]:
def foo(s):
    l = s.split()
    d={k:len(k) for k in l }
    print(d)
foo('innomatics research labs')

{'innomatics': 10, 'research': 8, 'labs': 4}

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [11]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Code here
def square(n):
    return n**2
squaredNumbers = map(square,li)
print(list(squaredNumbers))  # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [12]:

def even(x):
    if x%2==0:
        return True
    else:
        return False


def squer(x):
    return x**2

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

f = filter(even,li)
li = map(squer,f)
# first filters number by even number and the apply map() on the resultant elements
print(list(li))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [13]:
# CODE HERE
def even(x):
    if x%2==0:
        return True
    else:
        return False
evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### f(n)=f(n-1)+f(n-2) if n>1

Enter n value7
13

In [16]:
def f(n):
    if n <= 1:
        return n
    else:
        return f(n-1) + f(n-2)
n = int(input("Enter n value"))
print(f(n))

Enter n value7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)