<a href="https://colab.research.google.com/github/Jayakrishna143/assignments/blob/main/1_Variables_and_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)`

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [ ]:
# CODE HERE
Name = 'Jaya krishna Reddy'
print(f'My name is {Name}')

My name is Jaya krishna Reddy

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [ ]:
# WRITE HERE

variable is like a name that acts as a reference and pointer to the data

*   variable allows to store,retrive and manipulate the data stored in it
*   variables in python are dinamic because there is no need to specify the type of data present in it

*   variables should no contain spaces
*   variables are not started with any number

In [ ]:
Name = 'Jaya krishna '
#name here is a variable

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [ ]:
# CODE HERE
width = 17
height = 12.0
delimiter = '.'

print(f'{width/2} and its type is {type(width/2)}')
print(f'{width/2.0} and its type is {type(width/2.0)}')
print(f'{height/3} and its type is {type(height/3)}')
print(f'{1+2*5} and its type is {type(1+2*5)}')
print(f'{delimiter*5} and its type is {type(delimiter*5)}')

8.5 and its type is <class 'float'>
8.5 and its type is <class 'float'>
4.0 and its type is <class 'float'>
11 and its type is <class 'int'>
..... and its type is <class 'str'>

> `Question:` Add two number by taking variable names as first and seccond

In [ ]:
#CODE HERE
first = 100
second = 200
print(f'First number is : {first}')
print(f'Second number is : {second}')
print(f'Addition of two numbers is : {first+second}')

First number is : 100
Second number is : 200
Addition of two numbers is : 300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [ ]:
# CODE HERE

In [ ]:
First_name = 'Jaya Krishna'
seocnd_name = 'Reddy'
print(f'My first name is : {First_name}')
print(f'My second name is : {seocnd_name}')
print(f'My full name is : {First_name} {seocnd_name}')

My first name is : Jaya Krishna
My second name is : Reddy
My full name is : Jaya Krishna Reddy

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [ ]:
# CODE HERE

In [ ]:
a= 10
b ='10'
c =True
d = 10.5
print(f'10 {type(a)}')
print(f' "10" {type(b)}')
print(f'True {type(c)}''')
print(f'10.5 {type(d)}''')

10 <class 'int'>
 "10" <class 'str'>
True <class 'bool'>
10.5 <class 'float'>

 `Question:`
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [ ]:
# CODE HERE

In [ ]:
num_int = 123
num_str = "456"
num_str = int(num_str)
print(f'Addition of {num_int} and  {num_str} is : {num_int+num_str}')

Addition of 123 and  456 is : 579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3πr3  . What is the volume of a sphere with radius 5?

In [ ]:
# CODE HERE

radius = 5
volume = 4/3*3.14*radius**3
print(f'Volume of a sphere with radius {radius} is {volume}')

Volume of a sphere with radius 5 is 523.3333333333334

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [ ]:
# CODE HERE

In [ ]:
cover_price = 24.95
Discounted_cost = 24.95 -(24.95*0.4)
shipping_cost = 3*1 +0.75*(60-1)
actual_cost = Discounted_cost*60 + shipping_cost
print(f'Total wholesale cost for 60 copies is {actual_cost}')

Total wholesale cost for 60 copies is 945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)