<a href="https://colab.research.google.com/github/Jayakrishna143/assignments/blob/main/pandas_assignment_day_2_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np,seaborn as sns
data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

##### Write a Pandas program to create a dataframe by given dictionary and index as lables

In [ ]:
df = pd.DataFrame(data, index=labels)
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

##### 1. Write a Pandas program to select the rows where the score is missing, i.e. is NaN

In [ ]:
### code here
df[df.score.isnull()]

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

##### 2. Write a Pandas program to change the score in row 'd' to 11.5.

In [ ]:
### code here
df.loc['d', 'score'] = 11.5
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

##### 3. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [ ]:
#### code here
df[['name', 'score']]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James   11.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

##### 4.  Write a Pandas program to calculate the mean score for each different student in DataFrame.

In [ ]:
###  code here
df.score.mean()

np.float64(13.333333333333334)

##### 5. Write a Pandas program to append a new row 'k' to data frame with any value for each column. Now delete the row 'c' and return the original DataFrame.

In [ ]:
### code here
df.loc['k'] = ['suresh',99,2,'yes']
df.drop('c')

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     suresh   99.0         2     yes

###### import the titanic dataset

In [3]:
df = pd.read_csv('/content/titanic.csv')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,NaN
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,NaN
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,NaN
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,NaN

##### 1. Write a Pandas program to create a Pivot table and find the total fare amount class wise, gender wise.

In [ ]:
#### code here
df.pivot_table(values='fare', index='class', columns='sex', aggfunc='sum')

sex        female       male
class
First   9975.8250  8201.5875
Second  1669.7292  2132.1125
Third   2321.1086  4393.5865

In [ ]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'Unnamed: 15'],
      dtype='object')

##### 2. Write a Pandas program to create a Pivot table and find survival rate by gender.

In [ ]:
### code here
df.pivot_table(values='survived', index='sex', aggfunc='mean')

        survived
sex
female  0.742038
male    0.188908

###### 3. Write a Pandas to create to find the total count no of people survived pclass wise, class wise and gender wise.

In [ ]:
### code here
df.pivot_table(values = 'survived',index ='sex',columns = ['pclass','class'],aggfunc ='count')

pclass     1      2     3
class  First Second Third
sex
female    94     76   144
male     122    108   347

###### 4. Write a Pandas program to create a Pivot table and calculate how many women and men were in a particular cabin class.

In [ ]:
###  code here
df.pivot_table(values = 'sex',index = 'class',columns = 'survived',aggfunc ='count')

survived    0    1
class
First      80  136
Second     97   87
Third     372  119

##### 5. Write a Pandas program to count the number of missing values in each column.

In [ ]:
#### code here
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
Unnamed: 15    891
dtype: int64

##### 6. Write a Pandas program to replace null values with the value from the previous row or the next row in a given DataFrame.

In [ ]:
### code here
# df.fillna(method='ffill') # may remove this method in future so use as a obj
# df.fillna(method='bfill')
df.ffill().bfill()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,C,Southampton,no,False,NaN
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,C,Southampton,yes,True,NaN
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,C,Southampton,no,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,C,Southampton,no,True,NaN
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,NaN
888,0,3,female,19.0,1,2,23.4500,S,Third,woman,False,B,Southampton,no,False,NaN
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,NaN
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,C,Queenstown,no,True,NaN

###### 7. Write a Pandas program to replace nulls, with median or mean of the specified columns in a given DataFrame.

In [ ]:
### code here
nums = df.select_dtypes(include=np.number).columns
df[nums] = df[nums].fillna(df[nums].mean())
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,NaN
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,NaN
888,0,3,female,29.699118,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,NaN
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,NaN



```
# This is formatted as code
```

###### 8. Write a Pandas program to select first 2 rows, 2 columns and specific two columns from the dataframe.

In [ ]:
print(df.iloc[:2, :2])
print()

In [7]:
#### code here
print(df.iloc[:2, :2])
print(df[['adult_male', 'embark_town']])

   survived  pclass
0         0       3
1         1       1
     adult_male  embark_town
0          True  Southampton
1         False    Cherbourg
2         False  Southampton
3         False  Southampton
4          True  Southampton
..          ...          ...
886        True  Southampton
887       False  Southampton
888       False  Southampton
889        True    Cherbourg
890        True   Queenstown

[891 rows x 2 columns]

###### 9. Write a Pandas program to remove the duplicates from 'embark_town' column of titanic dataset.

In [ ]:
#### code here
df.drop_duplicates(subset='embark_town')

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
5,0,3,male,29.699118,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True,NaN
61,1,1,female,38.000000,0,0,80.0000,NaN,First,woman,False,B,NaN,yes,True,NaN

###### 10. Write a Pandas program to find out the survived is 1 details by the 'Southampton' in who is the 'child' from dataset.

In [4]:
### code here
df[(df['embark_town']=='Southampton') &( df['survived']==1) & (df['who'] == 'child')]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
10,1,3,female,4.00,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False,NaN
58,1,2,female,5.00,1,2,27.7500,S,Second,child,False,NaN,Southampton,yes,False,NaN
78,1,2,male,0.83,0,2,29.0000,S,Second,child,False,NaN,Southampton,yes,False,NaN
165,1,3,male,9.00,0,2,20.5250,S,Third,child,False,NaN,Southampton,yes,False,NaN
172,1,3,female,1.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False,NaN
183,1,2,male,1.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False,NaN
184,1,3,female,4.00,0,2,22.0250,S,Third,child,False,NaN,Southampton,yes,False,NaN
193,1,2,male,3.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False,NaN
233,1,3,female,5.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False,NaN
237,1,2,female,8.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False,NaN
261,1,3,male,3.00,4,2,31.3875,S,Third,child,False,NaN,Southampton,yes,False,NaN
305,1,1,male,0.92,1,2,151.5500,S,First,child,False,C,Southampton,yes,False,NaN
340,1,2,male,2.00,1,1,26.0000,S,Second,child,False,F,Southampton,yes,False,NaN
348,1,3,male,3.00,1,1,15.9000,S,Third,child,False,NaN,Southampton,yes,False,NaN
407,1,2,male,3.00,1,1,18.7500,S,Second,child,False,NaN,Southampton,yes,False,NaN
435,1,1,female,14.00,1,2,120.0000,S,First,child,False,B,Southampton,yes,False,NaN
445,1,1,male,4.00,0,2,81.8583,S,First,child,False,A,Southampton,yes,False,NaN
446,1,2,female,13.00,0,1,19.5000,S,Second,child,False,NaN,Southampton,yes,False,NaN
479,1,3,female,2.00,0,1,12.2875,S,Third,child,False,NaN,Southampton,yes,False,NaN
489,1,3,male,9.00,1,1,15.9000,S,Third,child,False,NaN,Southampton,yes,False,NaN
530,1,2,female,2.00,1,1,26.0000,S,Second,child,False,NaN,Southampton,yes,False,NaN
535,1,2,female,7.00,0,2,26.2500,S,Second,child,False,NaN,Southampton,yes,False,NaN
549,1,2,male,8.00,1,1,36.7500,S,Second,child,False,NaN,Southampton,yes,False,NaN
618,1,2,female,4.00,2,1,39.0000,S,Second,child,False,F,Southampton,yes,False,NaN
689,1,1,female,15.00,0,1,211.3375,S,First,child,False,B,Southampton,yes,False,NaN
720,1,2,female,6.00,0,1,33.0000,S,Second,child,False,NaN,Southampton,yes,False,NaN
750,1,2,female,4.00,1,1,23.0000,S,Second,child,False,NaN,Southampton,yes,False,NaN
751,1,3,male,6.00,0,1,12.4750,S,Third,child,False,E,Southampton,yes,False,NaN
755,1,2,male,0.67,1,1,14.5000,S,Second,child,False,NaN,Southampton,yes,False,NaN
777,1,3,female,5.00,0,0,12.4750,S,Third,child,False,NaN,Southampton,yes,True,NaN
788,1,3,male,1.00,1,2,20.5750,S,Third,child,False,NaN,Southampton,yes,False,NaN
802,1,1,male,11.00,1,2,120.0000,S,First,child,False,B,Southampton,yes,False,NaN
831,1,2,male,0.83,1,1,18.7500,S,Second,child,False,NaN,Southampton,yes,False,NaN
869,1,3,male,4.00,1,1,11.1333,S,Third,child,False,NaN,Southampton,yes,False,NaN

###### 11. Write a Pandas program to filter all records starting from the 2nd row, access every 5th row from the dataframe.

In [ ]:
### code here
df.iloc[1::5]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,NaN
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,NaN
16,0,3,male,2.0,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False,NaN
21,1,2,male,34.0,0,0,13.0000,S,Second,man,True,D,Southampton,yes,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,1,2,female,27.0,1,0,13.8583,C,Second,woman,False,NaN,Cherbourg,yes,False,NaN
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False,NaN
876,0,3,male,20.0,0,0,9.8458,S,Third,man,True,NaN,Southampton,no,True,NaN
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True,NaN
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,NaN

###### 12. Write a Pandas program to filter those records where embarked matches with multiple values (C, Q) from the dataset.

In [ ]:
#### code here
df[df['embarked'].isin(['C','Q'])]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
5,0,3,male,29.699118,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True,NaN
9,1,2,female,14.000000,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False,NaN
16,0,3,male,2.000000,4,1,29.1250,Q,Third,child,False,NaN,Queenstown,no,False,NaN
19,1,3,female,29.699118,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.000000,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True,NaN
879,1,1,female,56.000000,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False,NaN
885,0,3,female,39.000000,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False,NaN
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,NaN
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,NaN